.btn {
    width: 80%;
}

.group-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 0;
}

form input {
    padding: 5px;
    width: 80%;
}

form button {
    margin-top: 10px;
}

hr.new {
    border: 1px solid var(--border-color);
}

.general-msg {
    text-align: center;
    margin-top: 10px;
}

h3 {
    text-align: center;
    border-bottom: 1px solid var(--border-color);
    padding: 10px;
}